@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Montserrat", sans-serif;
    scroll-behavior: smooth;
}

@media only screen and (max-width: 768px){
  footer .follow{
      text-align: -webkit-center;
  }
  footer .navi a{
      text-align: center;
  }
}
@media only screen and (max-width: 400px){
  .para-container{
      position: unset !important;
  }
  .full-para{
      margin-left: 0;
      margin-right: 0;
  }
}